# IMAP Settings
IMBOX_IMAP_URL=imap.gmail.com
IMBOX_USERNAME=your-email@gmail.com
IMBOX_PASSWORD=your-app-password
IMBOX_SSL=true
IMBOX_SSL_CONTEXT=None
IMBOX_STARTTLS=false
IMBOX_PORT=993

# Application Settings
DEBUG=false
LOG_LEVEL=INFO
